@tailwind base;
@tailwind components;
@tailwind utilities;

/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

body {
  @apply bg-dark m-0 text-white;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-3xl font-semibold leading-10;
  /* font-size: 28px; */
}

h2, label {
  @apply text-xl font-normal;
}

p {
  @apply text-base font-normal;
}

p small {
  @apply text-sm text-grey font-light;
}
